<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>プロフィール変更</h2>
        </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="col-md-12" style="margin-top:20px;">
            <%= devise_error_messages! %>
        </div>

        <div class="col-md-12" style="margin-top:20px;">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
        </div>

        <div class="col-md-12" style="margin-top:20px;">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="col-md-12" style="margin-top:20px;">
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
        <% end %>

        <div class="col-md-12" style="margin-top:20px;">
            <%= f.label :password %> <i>(変更しない場合は、ブランクのままにしてください)</i>
            <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="col-md-12" style="margin-top:20px;">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        </div>

        <% if f.object.encrypted_password.present? %>
            <div class="col-md-12" style="margin-top:20px;">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
            </div>
        <% end %>

        <div class="col-md-12" style="margin-top:20px;">
            <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
    <% end %>

        <div class="col-md-12" style="margin-top:20px;">
            <h3>アカウントの削除</h3>
            <%= button_to "Delete my account", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "アカウントを削除してよろしいですか?" }, method: :delete %>
        </div>

        <div class="col-md-12" style="margin-top:20px;">
            <%= link_to "Back", :back %>
        </div>

    </div>
</div>
