<p id="notice"><%= notice %></p>
<p>
    <strong>Image:</strong>
    <% if @product.image? %>
        <%= image_tag @product.image.thumb.url %>
    <% else %>
        <%= image_tag 'noimage.gif' %>
    <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
