<!DOCTYPE html>
<html>
<head>
  <title>StudyUploader2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav>
      <% if user_signed_in? %> 
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'プロフィール変更', edit_user_registration_path %> |
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

          <ul class="nav navbar-nav navbar-right">
              <div class="row">
                  <div class="col-xs-6 col-md-6">
                      <a href="#" class="thumbnail">
                          <img src="<%= current_user.image %>" />
                      </a>
                  </div>
              </div>
          </ui>
      <% else %>
          <%= link_to "サインイン", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path %> |
          <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
      <% end %>
  </nav>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
